.tech-container{
    background-image: url('../images/techbg.jpg');
    height: 600px;
    color: black;
    transform: skewY(5deg);
}

.sub-container{
    /* display: flex; */
    transform: skewY(-5deg);
    position: relative;
    top: 30px;
    text-align: center;
}

.tech-list{
    list-style: none;
    padding: 0%;
}

.tech-headng{
    width:150px;
    margin: 12px auto ;
}

.feature-box{
    background-color: white;

}

.feature-box:hover{
    
    transform: translateY(-1.5em) scale(1.03) !important;
}

@media only screen and (max-width: 767px){
    .tech-container{
        height: 1700px;
    }
}