.myName {
  position: absolute;
  font-size: 5vw;
  top: 240px;
  left: 30vw;
}

.about{
  position: absolute;
  font-size: 2vw;
  top: 200px;
  left: 31vw;
}

.Navbar{
  position: absolute;
  left: 45vw;
}

.nav{

}

.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}